<h1>Welcome to {{ hotelName }}</h1>
<div [hidden]="hideRooms">
  <h3>Number Of Rooms</h3>
  <div [ngStyle]="{ color: rooms.availableRooms ? 'green' : 'red' }">
    Total Rooms: {{ numberOfRooms }} <br />
    Available Rooms: {{ rooms?.availableRooms ?? "No Rooms Available" }}
    <br />
    <span *ngIf="rooms?.availableRooms === 0">
      <strong>All rooms are currently booked.</strong>
    </span>
    <!--[innerText]="numberOfRooms"-->
  </div>
</div>

<p *ngIf="!rooms?.availableRooms">No Rooms</p>
<br />
<div *ngIf="rooms.availableRooms > 0">
  <hinv-rooms-list [rooms]="roomsList"></hinv-rooms-list>
</div>
<br />
<button (click)="toggle()">Toggle</button>
